<!-- 

    @file      index.css
    @author    Morgan Bergen <mbergen@ripple.com>
    @date      Sat Jul 29 12:06 EDT 2023
    @brief     Styles sheet for index

-->

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
